@import '../../../variables.scss';

.player_container {
  h1 {
    margin-top: 20px;
  }
}
.info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  p {
    margin-left: 30px;
    font-size: 18px;
  }

  .anime_type {
    font-size: 14px;
    margin-top: 20px;
  }

  .team_info {
    font-size: 14px;
    margin-top: 20px;
  }

  .genres {
    font-size: 14px;
    margin-top: 20px;

    span {
      margin: 0 5px;
      padding: 5px 10px;
      background: $sky-400-opacity;
      border-radius: 15px;
      font-weight: 500;
    }
  }
}
.player_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  h1 {
    margin-bottom: 20px;
  }
}

.pagination {
  margin: 10px 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;

  a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $slate-900;
    border-radius: 5px;
    transition: background 0.1s ease;

    &:hover {
      background: $slate-950;
    }
  }
}

.active_episode {
  background: $slate-950 !important;
  border: 1px solid $sky-400-opacity;
}
