@import '../../../variables.scss';

.serials__container {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: background 0.1s ease;
    &:hover {
      cursor: pointer;
      background: $slate-700;
    }

    img {
      width: 100%;
    }

    p {
      font-size: 16px;
      text-align: center;
      margin-top: 10px;
    }
  }
}

.pagination_container {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 10px;

  a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: $slate-900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: background 0.1s ease;

    &:hover {
      background: $slate-950;
    }

    &.active {
      background: $slate-950 !important;
      border: 1px solid $sky-400-opacity;
    }
  }
}

@media (max-width: 1024px) {
  .serials__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 568px) {
  .serials__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1208px) {
  .pagination_container {
    grid-template-columns: repeat(20, 1fr);
  }
}

@media (max-width: 940px) {
  .pagination_container {
    grid-template-columns: repeat(15, 1fr);
  }
}

@media (max-width: 710px) {
  .pagination_container {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (max-width: 485px) {
  .pagination_container {
    grid-template-columns: repeat(5, 1fr);
  }
}
